/* App Name */

position: absolute;
width: 86px;
height: 14px;
left: 59px;
top: 36px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: #56CCF2;



/* policy-24px 1 */

position: absolute;
width: 52px;
height: 51px;
left: 7px;
top: 18px;



/* Line 2 */

position: absolute;
width: 375px;
height: 0px;
left: 0px;
top: 92px;

border: 1px solid #56CCF2;


/* Your Video Has Been Sent! */

position: absolute;
width: 314px;
height: 196px;
left: 23px;
top: 308px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
text-align: center;

color: #56CCF2;



/* menu-24px 3 */

position: absolute;
width: 32px;
height: 32px;
left: 328px;
top: 27px;



/* My button */

position: absolute;
width: 253px;
height: 43px;
left: 54px;
top: 546px;



/* My button */

position: absolute;
width: 253px;
height: 43px;
left: 55px;
top: 612px;
